@font-face {
    font-family: 'Inter-VariableFont_slnt';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
    font-family: 'Inter-VariableFont_slnt';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
}

.profile-container {
    font-family: 'Inter-VariableFont_slnt';
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name {
    font-size: 24px;
    margin: 0;
    color: white;
}

.location {
    font-size: 13px;
    color: hsl(75, 94%, 57%);
    margin: 5px 0;
}

.description {
    font-size: 14px;
    color: rgb(241, 241, 241);
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.social-links a {
    text-decoration: none;
    color: white;
    font-family: 'Inter-VariableFont_slnt';
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

@media (max-width: 600px) {
    .profile-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .location {
        font-size: 14px;
    }

    .description {
        font-size: 12px;
    }

    .social-links a {
        padding: 8px;
        font-size: 14px;
    }
}
